//-This is where all the main layout for the page goes.
block page-params
  -
    //var title='Default page title';

html
  head
    link(rel='icon' href='/static/favicon.ico')
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="TN Land offers beautiful Tennessee land for sale. Find TN lots and acreage for sale with views, creeks, and waterfalls! Great country living in east Tennessee.")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")


    block title
      title=title

    block styles
      link(rel='stylesheet' href='/css/stylesheet.css')
  body
    block body
      block header
        header
          h1 Default page header

      block content
        section
          p Default content here.
          P This comes from /pages/templates/_layout.pug

      block footer
        footer
          a(href='/') Back to root
