extends templates/_layout

block append page-params
  -
    title='Tennessee Land For Sale at TN Land';

block header
  div(class='container')
    // The site title/banner at the top of the header.
    div(class='white row' id='topHeaderImage')
      div(class='col-md-8 col-sm-12')
        span(id='title') TNLand.com
        span(id='tagline') Tennessee Land, Lots & Acreage For Sale
      div(class='col-md-4 col-sm-12')
        span(id='phone') 1-888-777-5758
    
    // The orange banner under the site title/banner.
    div(class='orange white row')
      // FREE Land Guide
      div(class='col-md-2 noPad')
        a(class='navFontBig' href="http://www.tnland.com/land-guide/") FREE Land Guide
          p(class='navFontSmall') Prices, Listings & More...

      // Tennessee Land
      div(class='col-md-2 dropdown noPad')
        a(href="#" id="dropdownMenuLand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
          span(class='navFontBig') Tennessee Land
            p(class='navFontSmall') More Land and Acreage

        div(class="dropdown-menu orange white" aria-labelledby="dropdownMenuLand")
          a(class="dropdown-item" href="http://www.tnland.com/land")
            span(class="navFontBig") See All Properties
          a(class="dropdown-item" href="http://www.tnland.com/tn-acreage-for-sale/")
            span(class="navFontBig") Land & Large Acreage
          a(class="dropdown-item" href="http://www.tnland.com/features/creeks/")
            span(class="navFontBig") Creek Properties
          a(class="dropdown-item" href="http://www.tnland.com/features/view/")
            span(class="navFontBig") Mountain Views
          a(class="dropdown-item" href="http://www.tnland.com/features/horse-property/")
            span(class="navFontBig") Horse Properties
          a(class="dropdown-item" href="http://www.tnland.com/features/hunting-land/")
            span(class="navFontBig") Hunting Land
          a(class="dropdown-item" href="http://www.tnland.com/jasper/")
            span(class="navFontBig") Jasper Highlands        
          a(class="dropdown-item" href="http://www.tnland.com/blue-rock/")
            span(class="navFontBig") Blue Rock Acreage 
          a(class="dropdown-item" href="http://www.tnland.com/ridges/")
            span(class="navFontBig") The Ridges at Franklin Forest

      // Land Specials!
      div(class='col-md-2 dropdown noPad')
        a(href="#" id="dropdownMenuLand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
          span(class='navFontBig') Land Specials!
            p(class='navFontSmall') Featured Land on Sale

        div(class="dropdown-menu orange white" aria-labelledby="dropdownMenuLand")
          a(class="dropdown-item" href="http://www.tnland.com/specials/")
            span(class="navFontBig") All Land Specials
          a(class="dropdown-item" href="http://www.tnland.com/weekends/")
            span(class="navFontBig") Land Sale Weekends - Sign Up!

      // Jasper Highlands
      div(class='col-md-2 dropdown noPad')
        a(href="#" id="dropdownMenuLand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
          span(class='navFontBig') Jasper Highlands
            p(class='navFontSmall') Mountain Community

        div(class="dropdown-menu orange white" aria-labelledby="dropdownMenuLand")
          a(class="dropdown-item" href="http://www.tnland.com/jasper/")
            span(class="navFontBig") About Jasper Highlands
          a(class="dropdown-item" href="http://www.tnland.com/blog/jasper/")
            span(class="navFontBig") News & Updates
          a(class="dropdown-item" href="http://www.tnland.com/jasper/photo-book/")
            span(class="navFontBig") Photo Book
          a(class="dropdown-item" href="http://www.tnland.com/house-plans/")
            span(class="navFontBig") House Plans
          a(class="dropdown-item" href="http://www.tnland.com/jasper/parks-and-trails/")
            span(class="navFontBig") Parks & Trails
          a(class="dropdown-item" href="http://www.tnland.com/weekends-jh/")
            span(class="navFontBig") Land Sale Weekends - Sign Up!
          a(class="dropdown-item" href="http://www.tnland.com/jasper/discover/")
            span(class="navFontBig") Visit and Discover Jasper Highlands       
          a(class="dropdown-item" href="http://www.tnland.com/jasper/watch-jasper/")
            span(class="navFontBig") Watch Jasper Highlands Videos
          a(class="dropdown-item" href="http://www.tnland.com/jasper/raulston-falls/")
            span(class="navFontBig") Raulston Waterfall
          a(class="dropdown-item" href="http://www.tnland.com/jasper/kimball-falls/")
            span(class="navFontBig") Kimball Waterfall  

      // The Fence Post
      div(class='col-md-2 dropdown noPad')
        a(href="#" id="dropdownMenuLand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
          span(class='navFontBig') The Fence Post
            p(class='navFontSmall') Land News & How-To's

        div(class="dropdown-menu orange white" aria-labelledby="dropdownMenuLand")
          a(class="dropdown-item" href="http://www.tnland.com/blog/")
            span(class="navFontBig") Latest Fence Post
          a(class="dropdown-item" href="http://www.tnland.com/blog/jasper/")
            span(class="navFontBig") Jasper Highlands      
          a(class="dropdown-item" href="http://www.tnland.com/blog/nature/")
            span(class="navFontBig") Let's Talk Nature    
          a(class="dropdown-item" href="http://www.tnland.com/blog/outdoors/")
            span(class="navFontBig") Jasper Outdoors   
          a(class="dropdown-item" href="http://www.tnland.com/blog/news/")
            span(class="navFontBig") Land News   

      // Contact Us
      div(class='col-md-2 noPad')
        a(class='navFontBig' href="http://www.tnland.com/contact/") Contact Us
          p(class='navFontSmall') Send us a message...      

    // On Mobile, display the offer for Free Tennesse Land Guide
    div(class='row')
      div(id='mobile-landguide' class='container col-sm-12 col-xs-12 d-md-none')
        a(class='white' href='http://www.tnland.com/land-guide/') FREE - Order a Tennessee Land Guide
        p: a(class='white' href='http://www.tnland.com/land-guide/') (A full color guide with property descriptions and prices)
block content
  div(class='container' id='mainContent')
    // Separate out the page into 8/4 columns for Bootstrap
    div(class='row')
      div(class='col-md-8 col-lg-8')

        // Featured Locations
        div(class='col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 inline')
          a(href='http://www.tnland.com/land/homesite-for-sale-next-to-a-waterfall/')
            img(class='img img-responsive' src='http://cdn.tnland.com/wp-content/uploads/2013/08/jh148-water-fall.jpg')
            b
              p(class='contentText') Beautiful Tennessee Mountain Homesite Next to a Waterfall

        // Jasper Highlands
        div(class='col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 inline')
          img(class='img img-responsive' src='http://cdn3.tnland.com/wp-content/uploads/2015/04/JH-catskill.jpg')
          p A beautiful gated mountain community with spacious mountain homesites, river views, waterfalls, creeks, and trails - 
            b
              a(href='https://www.jasperhighlands.com/' class='contentText') Jasper Highlands

        // Sunsets
        div(class='col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 inline')
          i
            b
              a(href='http://www.tnland.com/land/tn-land-for-sale-sunset-views/')
                p(class='contentText') Tennessee Land For Sale With Incredible Sunset...
          img(class='img img-responsive' src='http://cdn.tnland.com/wp-content/uploads/2014/08/br2-mtns-land-pasture-tn.jpg')    
          p This incredible, and very private 40 acres features a variety of natural mountain features and would make a great …
            a(href='http://www.tnland.com/land/tn-land-for-sale-sunset-views/') 
            span(class='orangeText') [Read More...]

        // Over 180 Acres of TN Mtn Land With...
        div(class='col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 inline')
          i
            b
              a(href='http://www.tnland.com/land/large-tennessee-acreage-character/')
                p(class='contentText') Over 180 Acres Of Tennessee Mountain Land With…
          img(class='img img-responsive' src='http://cdn.tnland.com/wp-content/uploads/2014/08/br1-clouds-mtns.jpg')    
          p This large acreage Tennessee mountain property has it all. Incredible sunsets, deep forest, rolling pasture, and unique rock …
            a(href='http://www.tnland.com/land/large-tennessee-acreage-character/') 
            span(class='orangeText') [Read More...]

      div(class='col-md-4 col-lg-4')   
        // Free Guide
        div(class='col-lg-12 col-xl-12 d-none d-xl-block')
          img(class='img img-responsive' src='http://www.tnland.com/wp-content/themes/tnland1140/images/home/land-guide-short-formd.png')
   


block footer
  div(id='footerMain')
    div(class='container footerDiv')
      div(class='row white')
        div(class='col-md-4')
          h4(class='noMargin') TN LAND
          a(href='http://www.tnland.com/land-guide/') Order Your FREE Guide to Tennessee's Most Affordable Land!
          hr
          a(href='http://www.tnland.com/about-tnland/') About TNLand.com
          hr
          a(href='http://www.tnland.com/contact/') Contact TNLand.com  
          hr
          a(href='http://www.tnland.com/privacy/') TNLand.com Privacy Policy
          hr
          a(href='https://www.jasperhighlands.com/') A Beautiful Gated Mountain Community in Southeast Tennessee

        div(class='col-md-4')
          h4(class='noMargin') LAND FEATURES
          a(href='http://www.tnland.com/acrerage/') Acreage 
          a(href='http://www.tnland.com/features/bluffs/') Bluff 
          a(href='http://www.tnland.com/features/brow-property/') Brow Property 
          a(href='http://www.tnland.com/features/creeks/') Creek 
          a(href='http://www.tnland.com/features/horse-property/') Horse Property 
          a(href='http://www.tnland.com/features/hunting-land/') Hunting Land 
          a(href='http://www.tnland.com/features/view/') Mountain Views 
          a(href='http://www.tnland.com/features/on-sale/') on sale 
          a(href='http://www.tnland.com/features/pasture/') Pasture Land 
          a(href='http://www.tnland.com/features/privacy/') Privacy 
          a(href='http://www.tnland.com/features/rocks/') Rock Formations 
          a(href='http://www.tnland.com/features/sold/') Sold 
          a(href='http://www.tnland.com/features/video/') Video 
          a(href='http://www.tnland.com/features/waterfront/') Waterfront 
          a(href='http://www.tnland.com/features/woods/') Wooded Land

        div(class='col-md-4')
          div(class='row')
            h4(class='noMargin') SHARE THIS PAGE
            div(class='col-md-12 icons')
              a(href="#") 
                i(class='fa fa-facebook-square fa-3x')
              a(href="#")
                i(class='fa fa-tumblr-square fa-3x')    
              a(href="#")
                i(class='fa fa-twitter-square fa-3x')
              a(href="#")
                i(class='fa fa-google-plus-square fa-3x')     

          div(class='row spacing')
            h4(class='noMargin') STAY IN TOUCH  
            div(class='col-md-12 icons')
              a(href="https://www.facebook.com/JasperHighlands") 
                i(class='fa fa-facebook-square fa-3x')
              a(href="https://www.instagram.com/jasper_highlands/")
                i(class='fa fa-instagram fa-3x')    
              a(href="https://www.youtube.com/channel/UCUQ0lXoLpLH_M1AutFA4xyg")
                i(class='fa fa-youtube-square fa-3x') 

      div(class='row footerTopBottom')
        div(class='col-md-6')
          a(class='white' href='#') ^ Return to Top 

        div(class='col-md-6')
          p(class='noMargin floatRight') TN Land Realty, LLC, Broker
          br
          p(class='noMargin floatRight') Proudly Created by 
            a(href='http://www.landsalelistings.com/') LandSaleListings®  
   

  //-remove a block from an extending template entirely by declaring it, and then giving it no content
